{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if category %}
{{product.name}}-ABC Store
{% endif %}
{% endblock title %}
{% block content %}
<div class="container pt-5 pb-5">
    <div class="row p-0 m-0">
        <div class="co1-12 col-sm-6 pe-sm-0">
            <div class="card border-0 bg-transparent rounded-0 shadow h-100">
                <img src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid w-100" style="height: 500px;">
            </div>
        </div>
        <div class="co1-12 col-sm-6 ps-sm-0">
            <div class="card border-0 bg-transparent rounded-0 shadow h-100">
                <div class="card-title">
                    <h1 class=" pb-2 text-center">{{product.name}}</h1>
                </div>
                <div class="card-body">
                    <h5 class="text-center d-inline-block pb-2" style="border-bottom: 2px solid black;">Product Description</h5>
                    <p>{{product.description}}</p>
                    <p>Price Rs : {{product.price}}/-</p>

                    {% if product.stock <= 0 %}
                    <p class="text-danger"><b>Out of stock</b></p>
                    {% else %}
                    <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-lg my_button text-white rounded-0">Add to Cart<i class="fa-solid fa-cart-shopping text-white ps-2"></i></a>
                    {% endif %}
                </div>
                <div class="card-footer">
                <h5><a href="{% url 'shop:allProCat' %}"style="text-decoration: none;">Home</a> <i class="fa-solid fa-greater-than p-2 pt-3"></i> <a href="{{product.category.get_url}}" style="text-decoration: none;">{{product.category}}</a><i class="fa-solid fa-greater-than p-2 pt-3"></i>{{product.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}